#clickableText {
    -fx-underline: true;
    -fx-cursor: hand; /* Cambia il cursore, segnalando il testo cliccabile*/
}

/* ========= ButtoneVerde =============*/
.greenButton {
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: white; /* Text color */
    -fx-padding: 10px 20px; /* Padding */
    -fx-border-radius: 5px; /* Border radius */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.2, 1); /* Box shadow */
}
.greenButton:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}
.greenButton:pressed {
    -fx-background-color: #388e3c; /* Even darker green when pressed */
}
.greenButton:disabled {
    -fx-opacity: 0.5; /* Reduce opacity when disabled */
    -fx-background-color: #ccc; /* Light gray background color when disabled */
    -fx-text-fill: #666; /* Dark gray text color when disabled */
    -fx-cursor: default; /* Change cursor to default when disabled */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0); /* Box shadow for disabled state */
}

/*================= TAB_PANE =============*/
.tab-pane {
    -fx-tab-min-width: 100px; /* Minimum width of each tab */
}
.tab-pane .tab {
    -fx-background-color: #f0f0f0; /* Background color of tabs */
    -fx-padding: 10px 15px; /* Padding of each tab */
    -fx-closable: false; /* Disallow closing tabs */
    -fx-focus-color: transparent; /* Remove focus border */
}
.tab-pane .tab:hover {
    -fx-background-color: #e0e0e0; /* Hover background color of tabs */
}
.tab-pane .tab:selected {
    -fx-background-color: #fff; /* Background color of selected tab */
    -fx-focus-color: transparent; /* Remove focus border */
}
.tab-content {
    -fx-padding: 20px; /* Padding of tab content */
}

/*================ ELEMENTO CLICCABILE ===========*/
.clickableElement {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.2, 1);
    -fx-border-color: GREY;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.clickableElement:hover {
    -fx-background-color: #E0E0E0; /* Change background color on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0.2, 1); /* Change shadow on hover */
    -fx-border-color: DARKGREY; /* Change border color on hover */
}

/* ================ choiceBox ==============
.choice-box .context-menu { -fx-background-color: black; }
.choice-box .menu-item:focused { -fx-background-color: orange; }
.choice-box .menu-item > .label { -fx-text-fill: white; }

.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
.choice-box {
   -fx-background-color: black;
   -fx-mark-color: orange; // arrow color
}

.choice-box > .label { -fx-text-fill: white; }

 */