.root{
    -fx-font-family: "Arial";
}
.pageTitle{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
.boldText{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#clickableText {
    -fx-underline: true;
    -fx-cursor: hand; /* Cambia il cursore, segnalando il testo cliccabile*/
}
/* ========= ButtoneVerde =============*/
.greenButton {
    -fx-background-color: #4CAF50;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.2, 1);
}
.greenButton:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}
.greenButton:pressed {
    -fx-background-color: #388e3c; /* Even darker green when pressed */
}
.greenButton:disabled {
    -fx-opacity: 0.5; /* Reduce opacity when disabled */
    -fx-background-color: #ccc; /* Light gray background color when disabled */
    -fx-text-fill: #666; /* Dark gray text color when disabled */
    -fx-cursor: default; /* Change cursor to default when disabled */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0); /* Box shadow for disabled state */
}

/*================= Buttone Rosso ========*/
.resetButton {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.2, 1);
}
.resetButton:hover {
    -fx-background-color: #e53935;
}
.resetButton:pressed {
    -fx-background-color: #d32f2f;
}
.resetButton:disabled {
    -fx-opacity: 0.5; /* Reduce opacity when disabled */
    -fx-background-color: #ccc; /* Light gray background color when disabled */
    -fx-text-fill: #666; /* Dark gray text color when disabled */
    -fx-cursor: default; /* Change cursor to default when disabled */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0); /* Box shadow for disabled state */
}

/*================= TAB_PANE =============*/
.tab-pane {
    -fx-tab-min-width: 100px; /* Minimum width of each tab */
}
.tab-pane .tab {
    -fx-background-color: #f0f0f0; /* Background color of tabs */
    -fx-padding: 10px 15px; /* Padding of each tab */
    -fx-closable: false; /* Disallow closing tabs */
    -fx-focus-color: transparent; /* Remove focus border */
}
.tab-pane .tab:hover {
    -fx-background-color: #e0e0e0; /* Hover background color of tabs */
}
.tab-pane .tab:selected {
    -fx-background-color: #fff; /* Background color of selected tab */
    -fx-focus-color: transparent; /* Remove focus border */
}
.tab-content {
    -fx-padding: 20px; /* Padding of tab content */
}

/*================ ELEMENTO CLICCABILE ===========*/
.clickableElement {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.2, 1);
    -fx-border-color: GREY;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.clickableElement:hover {
    -fx-background-color: #E0E0E0; /* Change background color on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0.2, 1); /* Change shadow on hover */
    -fx-border-color: DARKGREY; /* Change border color on hover */
}
.clickableElementGreen {
    -fx-background-color: #008000; /* Green background color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.2, 1);
    -fx-border-color: #006400; /* Dark green border color */
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.clickableElementGreen:hover {
    -fx-background-color: #00A000; /* Lighter green background color on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0.2, 1); /* Change shadow on hover */
    -fx-border-color: #004B23; /* Darker green border color on hover */
}
/*============== Choice Box ================*/
.choice-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.choice-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}
.choice-box .list-cell:hover {
    -fx-background-color: #f0f0f0;
}
.choice-box .list-cell:selected {
    -fx-background-color: #4a90e2;
    -fx-text-fill: #ffffff;
}
.choice-box .arrow {
    -fx-background-color: transparent;
    -fx-shape: "M 0,0 L 4,4 L 8,0 Z"; /* Down arrow shape */
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-fill: #333333;
}
.choice-box:focused .arrow {
    -fx-fill: #4a90e2;
}
.choice-box:focused {
    -fx-border-color: #4a90e2;
}

/*============== ComboBox ================*/
.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.combo-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}
.combo-box .list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.combo-box .arrow {
    -fx-background-color: transparent;
    -fx-shape: "M 0,0 L 4,4 L 8,0 Z"; /* Down arrow shape */
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-fill: #333333;
}
/*======================= Bordo SOPRA + SOTTO ==============*/
.borderTopBottom {
    -fx-border-color: #B0BEC5 transparent #B0BEC5 transparent;
    -fx-border-width: 2px 0 2px 0;
    -fx-background-color: #FAFAFA;
    -fx-text-fill: #333;
}

/*==================== SCrollPane con bordo sopra + lato =======*/
.scrollPaneBorder {
    -fx-border-color: #B0BEC5 transparent transparent #B0BEC5;
    -fx-border-width: 2px 0 0 2px;
    -fx-background-color: #FAFAFA;
}


/*================ TABELLA ================*/
.tableVBox {
    -fx-spacing: 5;
    -fx-padding: 10; /* Padding around the table */
    -fx-background-color: #F8F8F8; /* Background color of the table */
    -fx-border-color: #CCCCCC; /* Border color of the table */
    -fx-border-width: 2; /* Border width */
    -fx-border-radius: 5; /* Rounded corners of the border */
}

.tableRow {
    -fx-spacing: 10; /* Space between labels */
    -fx-padding: 5; /* Padding within each row */
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.tableRowLabel {
    -fx-font-size: 20;
    -fx-text-fill: #333333;
}
.titleRow{
    -fx-font-size: 26;
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
}

.tableRow:hover {
    -fx-background-color: #E0E0E0; /* Change background color on hover */
    -fx-border-color: #BBBBBB; /* Change border color on hover */
}

/*==== LOGOUT TAB =============*/
.logout-tab {
    -fx-background-color: #ff0000; /* Background color of the Logout tab */
    -fx-text-fill: white; /* Text color of the Logout tab */
}

/*============ SEZIONI ======*/
.section {
    -fx-border-color: #CCCCCC;
    -fx-background-color: #F8F8F8;
    -fx-padding: 10px;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-style: solid;
    -fx-padding: 10px;
    -fx-margin: 10px;
}

.section-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
.section-subTitle {
    -fx-font-size: 21px;
    -fx-text-fill: #333333;
}

.section-content {
    -fx-font-size: 18;
    -fx-text-fill: #666666; /* Medium gray text */
}

/*========= BORDO SOPRA ======*/
.topBorder {
    -fx-border-color: #cccccc transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 10 0 0 0;
}

/*======== TEXT AREA =========*/
.text-field:focused .text-input {
    -fx-background-color: transparent;
}
.text-field:disabled .text-input {
    -fx-background-color: transparent;
}
.text-area {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-padding: 8px;
    -fx-prompt-text-fill: #999999;
}
.text-area:hover,
.text-area:focused {
    -fx-background-color: #e6e6e6;
}
.text-area:disabled {
    -fx-opacity: 0.5;
}
.text-area .prompt-text {
    -fx-fill: #999999;
}
.text-area .content {
    -fx-fill: #333333;
}
.text-area .text-input {
    -fx-background-color: transparent;
}
.text-area:hover .text-input {
    -fx-background-color: transparent;
}
.text-area:focused .text-input {
    -fx-background-color: transparent;
}
.text-area:disabled .text-input {
    -fx-background-color: transparent;
}
/*========== SCONTO per MESE ========*/
#selectedMesi {
    -fx-background-color: #f2f2f2; /* Background color */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 6;
}
/* ToggleButton */
#selectedMesi ToggleButton {
    -fx-background-color: #ffffff; /* Background color */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
}

#selectedMesi ToggleButton:hover {
    -fx-background-color: #e6e6e6; /* Background color on hover */
}

#selectedMesi ToggleButton:selected {
    -fx-background-color: #4CAF50; /* Background color when selected */
    -fx-text-fill: white; /* Text color when selected */
}

#selectedMesi ToggleButton:disabled {
    -fx-opacity: 0.5; /* Reduce opacity when disabled */
}

/* Style for the root element */
.root {
    -fx-font-family: "Arial";
}

/* ToggleButton Styles */
.toggle-button{
    -fx-background-color: #f2f2f2; /* Background color */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 6;
}

.toggle-button {
    -fx-background-color: #ffffff; /* Background color */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
}

.toggle-button:hover {
    -fx-background-color: #e6e6e6; /* Background color on hover */
}

.toggle-button:selected {
    -fx-background-color: #4CAF50; /* Background color when selected */
    -fx-text-fill: white; /* Text color when selected */
}

.toggle-button:disabled {
    -fx-opacity: 0.5; /* Reduce opacity when disabled */
}

/* Removes the gray background of the ScrollPane */
#addOnsPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#addOnsPane .viewport {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

/* Custom ScrollBar */
#addOnsPane .scroll-bar:vertical,
.scrollPaneBorder .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

#addOnsPane .scroll-bar:vertical .increment-button,
#addOnsPane .scroll-bar:vertical .decrement-button,
.scrollPaneBorder .scroll-bar:vertical .increment-button,
.scrollPaneBorder .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#addOnsPane .scroll-bar:vertical .increment-arrow,
#addOnsPane .scroll-bar:vertical .decrement-arrow,
.scrollPaneBorder .scroll-bar:vertical .increment-arrow,
.scrollPaneBorder .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: "M 0 0 L 10 5 L 0 10 Z"; /* Triangle shape */
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 0;
}

#addOnsPane .scroll-bar:vertical .thumb,
.scrollPaneBorder .scroll-bar:vertical .thumb {
    -fx-background-color: #4CAF50;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

#addOnsPane .scroll-bar:vertical .track,
.scrollPaneBorder .scroll-bar:vertical .track {
    -fx-background-color: #d0d0d0;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}
/*Style for the addOn optional checkbox*/
#addOns .check-box {
    -fx-font-size: 14px;
    -fx-padding: 3px;
    -fx-text-fill: #333;
}

#addOns .check-box .box {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 4px;
    -fx-border-width: 2px;
}

#addOns .check-box .box:hover {
    -fx-border-color: #888;
}

#addOns .check-box:selected .box {
    -fx-background-color: #4CAF50;
}

#addOns .check-box:selected .box .mark {
    -fx-background-color: #4CAF50;
}

#addOns .check-box .box .mark {
    -fx-background-color: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}
#addOns .check-box .text {
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
}






